/* styles.css */
.AccordionContent {
  overflow: hidden;
}
.AccordionContent[data-state="open"] {
  animation: slideDown 700ms ease-out;
}
.AccordionContent[data-state="closed"] {
  animation: slideUp 700ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
.AccordionTrigger {
  text-align: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .AccordionTrigger {
    justify-content: right;
  }
}
